services:
  kestra_postgres:
    image: postgres:18
    volumes:
      - kestra_postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: k3str4
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
    networks:
      - kestra-network

  kestra:
    image: kestra/kestra:v1.1
    user: "root"
    command: server standalone
    volumes:
      - kestra_data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - kestra-network
      - ny_taxi_network_pipeline # Connects Kestra to your NY Taxi DB
    environment:
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://kestra_postgres:5432/kestra
            username: kestra
            password: k3str4
        kestra:
          server:
            basicAuth:
              username: admin1234@admin.com
              password: Admin1234!
          repository:
            type: postgres
          storage:
            type: local
            local:
              basePath: "/app/storage"
          queue:
            type: postgres
          tasks:
            tmpDir:
              path: /tmp/kestra-wd/tmp
          url: http://localhost:8080/
    ports:
      - "8080:8080"
    depends_on:
      kestra_postgres:
        condition: service_healthy

volumes:
  kestra_postgres_data:
  kestra_data:

networks:
  kestra-network:
  ny_taxi_network_pipeline:
    external: true # Crucial: Tells Docker this network is managed elsewhere
    name: ingestion_newyork_taxi_nw